 body{
      text-align: center;
    }
    #choice-button{
      height: 100px;
      width: 100px;
      border: none;
      background-color: rgb(127, 227, 70);
      border-radius: 50%;
    }
    #choice-image{
      height: 100px;
      cursor: pointer;
      
    }
   
      
    