@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins' , sans-serif;
}
body{
  height: 100vh;
  background: url("image/coffee-hero-bg.jpg");
  background-position: center;
  background-size: cover;
}
header{
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  width: 100%;
}
header .navebar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}
.navebar .logo{
  color: #fff;
  font-weight: 600;
  font-size: 2.1rem;
}
.navebar .menu-links{
  display: flex;
  gap: 40px;
}
.navebar a span{
  color: #c06b3c;
}
.navebar a{
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease;
}

.navebar a:hover{
  color: #c06b3c;
}


.hero-section{
  height: 100vh;
  align-items: center;
  display: flex;
  padding:0 20px;
   margin: 0 auto;
  max-width: 1200px;
}
.hero-section .content{
  color: #fff;
}
.hero-section .content h1{
  font-size: 3rem;
  font-width: 600px;
}
.hero-section .content p{
  font-weight:300;
  margin-top: 15px;
  max-width: 600px;
}
.hero-section .content button{
  background: #fff;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 38px;
  padding: 12px 15px;
  border-radius: 9px;
  border: none;
  font-weight: 500;  
  transition: 0.2s ease;
}
.hero-section .content button:hover{
  color: #fff;
  background-color: #c06b3c;
}
#menuBtn{
  color: #fff;
  cursor: pointer;
  display: none;
}
#closeBtn{
  display: none;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

@media screen and (max-width:900px) {
  header{
    padding: 10px 20px;
  }
  header.show-mobile-menu::before{
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);

    
  }
   #menuBtn , #closeBtn{
    display: block;
  }
  .navebar .menu-links{
    position: fixed;
    flex-direction: column;
    left: -260px;
    top: 0;
    background: #fff;
    width: 260px;
    height: 100vh;
    padding: 70px 40px 0;
    list-style: none;
    transition:left 0.3s ease;
  }
   header.show-mobile-menu .navebar .menu-links{
    left: 0;
  }
 
  .navebar a{
    color: #000;
  }
  .hero-section .content{
    text-align: center;
  }
  .hero-section .content:is(h1 , p){
    max-width: 100%;
  }
  .hero-section .content h1{
    font-size: 2.3rem;
    line-height: 60px;
  }
  .hero-section .content button{
    paddin: 9px 18px;
  }

 
  
  
}

